html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; /* Gör att scrollningen blir mjuk */
  font-family: "Inter", sans-serif;
}

header {
  top: 0;
  width: 100%;
  color: rgb(0, 0, 0);
  background-color: white;
  padding: 10px 0;
}

.head-header {
  display: flex;
  justify-content: space-between;
}

.head-header img {
  width: 7rem;
  height: 7rem;
}
header hr {
  width: 97%; /* Gör linjen 90% av förälderelementets bredd */
  margin: 0 auto; /* Centrerar linjen horisontellt */
  border: 1px solid #333; /* Exempel på en linje */
}

.head-navbar {
  display: flex; /* Gör den till en flex-behållare */
  justify-content: space-between; /* Placera innehåll på båda sidor */
  align-items: center; /* Justera vertikalt */
  margin: 10px 20px; /* Lägg till mellanrum från kanterna */
}

.navbar-buttons,
.navbar-links {
  display: flex; /* Gör barn till flex-element */
  list-style: none; /* Ta bort standardpunktlistan */
  margin: 0;
  padding: 0;
}

.navbar-buttons li,
.navbar-links li {
  margin: 0 15px; /* Mellanrum mellan knappar */
}

header nav ul {
  display: flex;
  justify-content: start;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  text-decoration: none;
  color: rgb(123, 121, 121);
  font-size: 18px;
}

header nav ul li a:hover {
  color: black; /* Exempel på hover-effekt */
  text-decoration: underline;
}

section {
  padding: 100px 20px;
  height: 100vh; /* Varje sektion tar hela höjden av skärmen */
}

#about {
  background-color: #000000;
}

#projects {
  background-color: #d3d3d3;
}

#contact {
  background-color: #b3b3b3;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}
